@page "/user"
@attribute [StreamRendering(true)]


@inject IUserService UserService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>



@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else if(Users.Count == 0)
{
    <p><em>No Users</em></p>
}
else
{
    <ul>
        @foreach(var user in Users)
        {
            <li>
                @user.Name
            </li>
        }
    </ul>
}

<button @onclick="CreateGame" class="btn btn-primary">Add User</button>
@code {

    List<Users> Users = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        Users = await UserService.GetAllUsers();
    }

    void CreateGame()
    {
        NavigationManager.NavigateTo("/edit-user");
    }

    

    
}
